body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0em 10%;
}

#summary *, #badge img, #badge .info {
  display: inline-block;
}
#summary .info {
  float: right;
  margin-top: 1em;
}
#summary .title {
  font-size: 1.5em;
}
#summary .status {
  color: #ff4992;
}
#summary .description, #badge .info p {
  color: #9795b7;
}

#badge {
  color: #65638F;
}
#badge img {
  width: 8em;
}
#badge .info {
  vertical-align: top;
  margin-left: 1.5em;
}
#badge h1 {
  font-size: 3.5em;
  margin-top: 0em;
  outline: none;
}
#badge .info p {
  margin-top: .5em;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.2em;
}
